@page "/"

<PageTitle>Виджет</PageTitle>

<h1>Здесь демонстрируется получение данных "сложным"* запросом из БД</h1>

Запрос к "независимой" таблице:<br/>

кол-во "заказов", сгруппированное по дням, с указанием суммы всех "заказов" за день:<br/>
<pre>
select top 50 ДатаЗаявки, count(*) as Cnt, SUM(Цена) as PriceSumm from Заявка
group by ДатаЗаявки
order by ДатаЗаявки DESC
</pre>
<br/>
*  - ну, мы то знаем, что такое сложный запрос... это такой, который на экран не влезает...